.bingo-card {
  position: relative;
  border: 2px solid #000;
  padding: 4mm;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: linear-gradient(135deg, #e0191f 0%, #a10c10 100%),
    /* thin repeating diagonal lines (dark, semi-transparent) */
      repeating-linear-gradient(
        135deg,
        rgba(0, 0, 0, 0.125) 0mm,
        rgba(0, 0, 0, 0.125) 0mm,
        rgba(0, 0, 0, 0) 6mm,
        rgba(0, 0, 0, 0) 6mm
      );
  background-blend-mode: multiply;
  background-repeat: repeat;
}

.bingo-card-title {
  text-align: center;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 0mm;
  color: #fafafa;
  /*-webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 2px;*/
}

.bingo-card-title .game-number {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 24px;
  font-weight: 600;
  padding: 3mm 5mm;
  border-bottom-left-radius: 24px;
  background: #00873e;
  /*background: #003381;*/
}

.bingo-card-footer {
  text-align: center;
  color: #fafafa;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 3mm;
}

.bingo {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  display: table;
}

.bingo th {
  color: #fafafa;
  text-align: center;
  font-size: 24px;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

.bingo td {
  border: 2px solid black;
  width: 100%;
  background: #fafafa;
  color: black;
  text-align: center;
  padding: 5mm;
  font-size: 33px;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}

.bingo td:has(img) {
  padding: 2mm !important;
}

.bingo td img {
  display: block;
  object-fit: contain;
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  /* filter: grayscale(); <-- black and white option */
}
